# Server Configuration
HOST=127.0.0.1
PORT=8000
DEBUG=true

# CORS Configuration
# Comma-separated list of origins allowed to interact with the backend API
ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

# Google Cloud Translation API Configuration
GOOGLE_TRANSLATE_API_KEY=YOUR_API_KEY
